.card-service {
	.card-body {
		@media (min-width: map-get($grid-breakpoints, "md")) {
			height: 12rem;
		}

		@media (min-width: map-get($grid-breakpoints, "lg")) {
			height: 14rem;
		}

		@media (min-width: map-get($grid-breakpoints, "xl")) {
			height: 12rem;
		}
	}
}
