<div class="container">
	<div class="row">
		<div class="col-12 col-md-8">
			<picture>
				{% capture dir %}{{ site.images_dir }}{% endcapture %}
				{% capture name %}{{ site.data.infographic.img.name }}{% endcapture %}
				<source media="(min-width:{{ site.data.bp.md }})" srcset="{{ dir }}{{ site.data.bp.md_8 }}{{ name }}">
				<source media="(min-width:{{ site.data.bp.lg }})" srcset="{{ dir }}{{ site.data.bp.lg_8 }}{{ name }}">
				<source media="(min-width:{{ site.data.bp.xl }})" srcset="{{ dir }}{{ site.data.bp.xl_8 }}{{ name }}">
				<source media="(min-width:{{ site.data.bp.xxl }})" srcset="{{ dir }}{{ site.data.bp.xxl_8 }}{{ name }}">
				<img class="img-fluid" src="{{ dir }}{{ site.data.bp.sm_12 }}{{ name }}" alt="{{ site.data.infographic.img.alt }}">
			</picture>
		</div>
		<div class="col-12 col-md-4 d-flex align-items-center">
			<div class="text-center text-md-start my-5 mx-3 mt-md-0 mx-md-0">
				<p class="lead">{{ site.data.infographic.text }}</p>
				<div class="mt-4">
					{% assign contact = site.data.navigation | where: 'id', 3 %}
					<a href="{{ contact[0].link }}" class="btn btn-primary">
						{{ site.data.infographic.button.contact.text }}
					</a>
					{% assign service = site.data.navigation | where: 'id', 2 %}
					<a href="{{ service[0].link }}" class="btn btn-outline-primary mt-md-1 mt-lg-0">
						{{ site.data.infographic.button.service.text }}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
