<nav id="navbar" class="navbar {% if navbar_dark %}navbar-dark{% else %}navbar-light{% endif %} navbar-expand-sm fixed-top animate">
	<div class="container-fluid px-xl-5">
		<!-- Logotype -->
		{% assign homepage = site.data.navigation.navbar | where: 'id', 1 %}
		<a id="navbar-brand" class="navbar-brand animate upscale" href="{{ site.baseurl }}{{ homepage[0].href }}">
			<img src="{{ site.baseurl }}/assets/img/logotypes/{{ site.data.brand.logo }}" alt="{{ site.data.brand.name }}">
		</a>

		<!-- Navigation toggle -->
		<button id="navbar-toggler" class="navbar-toggler" type="button" data-collapse-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Przełącz nawigację">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navigation -->
		<div id="main-menu" class="navbar-collapse collapse">
			<ul class="navbar-nav ms-auto my-3">
				{% for link in site.data.navigation.navbar %}
					<li class="nav-item mx-2 me-last-0">
						<a class="nav-link fw-bold{% if page.url == link.href %} active" aria-current="page"{% else %}"{% endif %} href="{{ site.baseurl }}{{ link.href }}">
							<span{% if page.url == link.href %} class="border-bottom border-primary border-3 pb-2"{% endif %}>{{ link.name }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>
{% if navbar_space != false %}
	<div class="mt-sm-4" style="height: 107px"></div>
{% endif %}
