<nav class="navbar navbar-expand-sm navbar-light bg-white">
	<div class="container-fluid">
		<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="{{ site.data.navbar.aria.navbar_toggler_label }}">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="main-menu">
			<ul class="navbar-nav ms-auto me-3 mt-3">
				{% for item in site.data.navbar.list %}
					<li class="nav-item mx-2">
						<a class="nav-link{% if page.url == item.link %} active" aria-current="page"{% else %}"{% endif %} href="{{ item.link }}">
							{{ item.name }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>
