<script src="/assets/js/bootstrap.bundle.min.js"></script>

<script>
	/* Navbar */
	const navbar = document.getElementById('navbar');
	const navbar_brand = document.getElementById('navbar-brand');
	const navbar_toggle = document.getElementById('navbar-toggle');
	const is_navbar_dark = navbar.classList.contains('navbar-dark');

	window.addEventListener('scroll', () => {
		if (window.scrollY == 0) {
			if (navbar_toggle.classList.contains('collapsed')) {
				if (is_navbar_dark) {
					navbar.classList.add('navbar-dark');
					navbar.classList.remove('navbar-light');
				}

				navbar.classList.remove('bg-light', 'shadow-sm');
				navbar_brand.classList.add('upscale');
			}
		} else {
			if (is_navbar_dark) {
				navbar.classList.remove('navbar-dark');
				navbar.classList.add('navbar-light');
			}

			navbar.classList.add('bg-light', 'shadow-sm');
			navbar_brand.classList.remove('upscale');
		}
	});

	navbar_toggle.addEventListener('click', () => {
		if (window.scrollY == 0) {
			if (is_navbar_dark) {
				navbar.classList.toggle('navbar-dark');
				navbar.classList.toggle('navbar-light');
			}

			navbar.classList.toggle('bg-light');
			navbar.classList.toggle('shadow-sm');
		}
	});
</script>
