<div class="bg-surface">
	<div class="container py-5">
		<div class="row">
			{% for service in site.services %}
				<div class="col-12 col-md-6 col-lg-4">
					<article class="text-center text-md-start mb-5">
						<h5>
							<a href="{{ service.url }}" class="link-primary">{{ service.title }}</a>
						</h5>
						<p>{{ service.description }}</p>
					</article>
				</div>
			{% endfor %}
		</div>
		<div class="text-center">
			{% assign service = site.data.navigation.navbar | where: 'id', 2 %}
			<a href="{{ service[0].href }}" class="btn btn-primary">Więcej szczegółów</a>
		</div>
	</div>
</div>
