<!DOCTYPE html>
<html lang="pl">
	{% include head.html %}
	<body class="d-flex flex-column min-vh-100">
		<header class="pattern-tools">
			{% include navbar.html %}
			<!-- Title -->
			{% assign images_shift = "5rem" %}
			<section class="container mt-4 mt-sm-5" style="padding-bottom: {{ images_shift }}">
				{% assign services_link = site.data.navigation.navbar | where: 'id', 2 %}
				<aside class="mb-4">
					<a class="btn btn-primary" href="{{ site.baseurl }}{{ services_link[0].href }}#{{ page.hash }}">
						<i class="icon-arrow-left-white me-1"></i>Usługi
					</a>
				</aside>
				<h1>
					<a href=".">{{ page.title }}</a>
				</h1>
				<p class="lead">{{ page.description }}</p>
			</section>
		</header>
		<main class="flex-fill bg-blue-500">
			<!-- Images -->
			<section class="container pb-5" style="margin-top: -{{ images_shift }}">
				<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 gallery">
					{% capture dir %}{{ site.baseurl }}/assets/img{% endcapture %}
					{% for image in page.images %}
						<div class="col">
							<a href="{{ dir }}/1080p/{{ image.name }}"
							   data-at-640="{{ dir }}/360p/{{ image.name }}"
							   data-at-854="{{ dir }}/480p/{{ image.name }}"
							   data-at-1280="{{ dir }}/720p/{{ image.name }}"
							   data-at-1920="{{ dir }}/1080p/{{ image.name }}">
								<img class="size-service-thumbnail rounded" src="{{ dir }}/360p/{{ image.name }}" alt="{{ image.alt }}" loading="lazy">
							</a>
						</div>
					{% endfor %}
				</div>
			</section>
		</main>
		{% include footer.html %}
		{% include script.html %}
		<script src="{{ site.baseurl }}/assets/js/baguettebox.js" async></script>
		<script>
			window.addEventListener('load', function() {
				baguetteBox.run('.gallery', {
					noScrollbars: true
				});
			});
		</script>
	</body>
</html>
