[class^='icon-'] {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin-bottom: -0.125rem;
}

.icon {
	&-arrow-left-white {
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZmZmZmZiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNSA4YS41LjUgMCAwIDAtLjUtLjVIMi43MDdsMy4xNDctMy4xNDZhLjUuNSAwIDEgMC0uNzA4LS43MDhsLTQgNGEuNS41IDAgMCAwIDAgLjcwOGw0IDRhLjUuNSAwIDAgMCAuNzA4LS43MDhMMi43MDcgOC41SDE0LjVBLjUuNSAwIDAgMCAxNSA4eiIvPjwvc3ZnPg==');
	}

	&-envelope-black {
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBkPSJNMCA0YTIgMiAwIDAgMSAyLTJoMTJhMiAyIDAgMCAxIDIgMnY4YTIgMiAwIDAgMS0yIDJIMmEyIDIgMCAwIDEtMi0yVjR6bTItMWExIDEgMCAwIDAtMSAxdi4yMTdsNyA0LjIgNy00LjJWNGExIDEgMCAwIDAtMS0xSDJ6bTEzIDIuMzgzLTQuNzU4IDIuODU1TDE1IDExLjExNHYtNS43M3ptLS4wMzQgNi44NzhMOS4yNzEgOC44MiA4IDkuNTgzIDYuNzI4IDguODJsLTUuNjk0IDMuNDRBMSAxIDAgMCAwIDIgMTNoMTJhMSAxIDAgMCAwIC45NjYtLjczOXpNMSAxMS4xMTRsNC43NTgtMi44NzZMMSA1LjM4M3Y1LjczeiIvPjwvc3ZnPg==');
	}

	&-phone-black {
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBkPSJNMTEgMWExIDEgMCAwIDEgMSAxdjEyYTEgMSAwIDAgMS0xIDFINWExIDEgMCAwIDEtMS0xVjJhMSAxIDAgMCAxIDEtMWg2ek01IDBhMiAyIDAgMCAwLTIgMnYxMmEyIDIgMCAwIDAgMiAyaDZhMiAyIDAgMCAwIDItMlYyYTIgMiAwIDAgMC0yLTJINXoiLz48cGF0aCBkPSJNOCAxNGExIDEgMCAxIDAgMC0yIDEgMSAwIDAgMCAwIDJ6Ii8+PC9zdmc+');
	}

	&-phone-white {
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZmZmZmZiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBkPSJNMTEgMWExIDEgMCAwIDEgMSAxdjEyYTEgMSAwIDAgMS0xIDFINWExIDEgMCAwIDEtMS0xVjJhMSAxIDAgMCAxIDEtMWg2ek01IDBhMiAyIDAgMCAwLTIgMnYxMmEyIDIgMCAwIDAgMiAyaDZhMiAyIDAgMCAwIDItMlYyYTIgMiAwIDAgMC0yLTJINXoiLz48cGF0aCBkPSJNOCAxNGExIDEgMCAxIDAgMC0yIDEgMSAwIDAgMCAwIDJ6Ii8+PC9zdmc+');
	}
}
