@function get-height($width, $ratio) {
	@return #{$width * nth($ratio, 2) / nth($ratio, 1)}
}

.size {
	&-infographic {
		max-width: 100%;

		$ratio: 50, 57;
		$widths: (
			'sm': 444,
			'md': 384,
			'lg': 544,
			'xl': 664,
			'xxl': 784
		);

		@each $breakpoint, $width in $widths {
			@media (min-width: map-get($grid-breakpoints, $breakpoint)) {
				width: #{$width}px;
				height: #{get-height($width, $ratio)}px;
			}
		}
	}

	&-service-thumbnail {
		max-width: 100%;

		$ratio: 16, 9;
		$widths: (
			'sm': 514,
			'md': 338,
			'lg': 299,
			'xl': 359,
			'xxl': 419
		);

		@each $breakpoint, $width in $widths {
			@media (min-width: map-get($grid-breakpoints, $breakpoint)) {
				width: #{$width}px;
				height: #{get-height($width, $ratio)}px;
			}
		}
	}
}
