.max-vh-100 {
	max-height: 100vh;
}

.me-last-0:last-child {
	margin-right: 0 !important;
}

.mt-sm-n4 {
	@media (min-width: map-get($grid-breakpoints, 'sm')) {
		margin-top: - map-get($spacers, 4);
	}
}

.bg {
	&-blue-500 {
		color: $white;
		background-color: #2196f3;
	}

	&-blue-700 {
		color: $white;
		background-color: #1976d2;
	}
}
