@import "../vendors/bootstrap/variables";

// Bootstrap variables
$link-decoration: none;
$btn-font-weight: bold;
$headings-font-weight: bold;
$navbar-brand-padding-y: 0;
$navbar-brand-margin-end: 0;

$theme-colors: map-merge(
	$theme-colors, (
		"footer": $footer,
		"services": $services
	)
);

// Themes-dependent components
@import "../vendors/bootstrap/utilities";
@import "../vendors/bootstrap/root";
@import "../vendors/bootstrap/reboot";
@import "../vendors/bootstrap/type";
@import "../vendors/bootstrap/images";
@import "../vendors/bootstrap/buttons";
@import "../vendors/bootstrap/nav";
@import "../vendors/bootstrap/navbar";
@import "../vendors/bootstrap/list-group";
@import "../vendors/bootstrap/helpers";
@import "../vendors/bootstrap/utilities/api";

// Custom classes
.pattern-pipes {
	background-image: url($pattern-pipes);
}

.animate {
	transition: $transition-base;
}

.navbar-brand {
	img {
		height: 75px;
	}

	&.upscale {
		@media (min-width: map-get($grid-breakpoints, "sm")) {
			$scale_size: 50%;
			transform: translate($scale_size / 2, $scale_size / 2) scale(100% + $scale_size);
		}
	}
}
