<!DOCTYPE html>
<html lang="pl">
	{% include head.html %}
	<body class="d-flex flex-column min-vh-100 pattern-pipes-lying bg-blue-500">
		<header>
			{% assign navbar_dark = true %}
			{% include navbar.html %}
		</header>
		<main class="flex-fill">
			<!-- Contact -->
			<section class="container mb-5">
				<header class="py-3 text-center">
					{% assign id = "skontaktuj-sie-z-nami" %}
					<h1 id="{{ id }}">
						<a href="#{{ id }}">Skontaktuj się z nami</a>
					</h1>
					<p>Masz pytania? Jesteśmy do twojej dyspozycji.</p>
				</header>
				<article class="row align-items-xl-center">
					<!-- Opening hours -->
					<div class="col-12 col-xl-4 order-xl-2 p-0">
						<div class="p-4 p-xl-5 m-2 bg-primary rounded ">
							{% assign id = "godziny-kontaktu" %}
							<h5 id="{{ id }}" class="mb-3">
								<a href="#{{ id }}">Godziny kontaktu</a>
							</h5>
							{% for opening-hour in page.opening-hours %}
								<div class="d-flex justify-content-between">
									<p>{{ opening-hour.day }}</p>
									<p>{{ opening-hour.time }}</p>
								</div>
							{% endfor %}
						</div>
					</div>
					<!-- Telephone -->
					<div class="col-12 col-md-5 col-lg-6 col-xl-4 order-xl-1 p-0">
						<div class="p-4 m-2 me-xxl-4 bg-white text-dark rounded">
							{% assign id = "telefon" %}
							<h5 id="{{ id }}">
								<a href="#{{ id }}">Telefon</a>
							</h5>
							<div class="mb-4 text-ellipsis">
								<i class="icon-phone-black"></i>
								{% assign copy-id = "copy-phone" %}
								<span id="{{ copy-id }}">{{ site.data.contact.phone | replace: "-", " "}}</span>
							</div>
							<div class="row">
								<div class="col d-grid">
									<a class="btn btn-primary" href="tel:{{ site.data.contact.phone }}">Zadzwoń</a>
								</div>
								<div class="col d-grid">
									<button class="btn btn-outline-primary" type="button" data-copy-target="#{{ copy-id }}" data-copy-replace="Skopiowane">Kopiuj</button>
								</div>
							</div>
						</div>
					</div>
					<!-- E-mail -->
					<div class="col-12 col-md-7 col-lg-6 col-xl-4 order-xl-3 p-0">
						<div class="p-4 m-2 ms-xxl-4 bg-white text-dark rounded">
							{% assign id = "e-mail" %}
							<h5 id="{{ id }}">
								<a href="#{{ id }}">E-mail</a>
							</h5>
							<div class="mb-4 text-ellipsis">
								<i class="icon-envelope-black"></i>
								{% assign copy-id = "copy-email" %}
								<span id="{{ copy-id }}">{{ site.data.contact.email }}</span>
							</div>
							<div class="row">
								<div class="col d-grid">
									<a class="btn btn-primary" href="mailto:{{ site.data.contact.email }}">Napisz</a>
								</div>
								<div class="col d-grid">
									<button class="btn btn-outline-primary" type="button" data-copy-target="#{{ copy-id }}" data-copy-replace="Skopiowane">Kopiuj</button>
								</div>
							</div>
						</div>
					</div>
				</article>
			</section>
		</main>
		{% include footer.html %}
		{% include script.html %}
	</body>
</html>
