<!DOCTYPE html>
<html lang="{{ page.lang }}">
	{% include head.html %}
	<body class="d-flex flex-column min-vh-100">
		<header class="flex-fill pattern-zigzag-pipes">
			{% assign navbar_light = true %}
			{% include navbar.html %}
			<!-- infographic -->
			<div class="container py-5 mt-5">
				<div class="row">
					<div class="col-12 col-md-8 px-5">
						<picture>
							<source media="(max-width: {{ site.data.breakpoint.sm }})" srcset="{{ site.baseurl }}/assets/img/stock/{{ page.sections.infographic.img.name }}">
							<source media="(max-width: {{ site.data.breakpoint.lg }})" srcset="{{ site.baseurl }}/assets/img/stock/{{ page.sections.infographic.img.name }}">
							<img class="size-infographic" src="{{ site.baseurl }}/assets/img/stock/{{ page.sections.infographic.img.name }}" alt="{{ page.sections.infographic.img.alt }}" loading="lazy">
						</picture>
					</div>
					<div class="col-12 col-md-4 align-self-md-center">
						<div class="text-center text-md-start">
							<p class="lead">
								{{ page.sections.infographic.text }}
							</p>
							<a href="tel:{{ site.data.contact.phone }}" class="btn btn-primary">
								<i class="icon-phone-white me-1"></i>{{ site.data.contact.phone | replace: '-', ' '}}
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main class="bg-blue-500">
			<!-- services -->
			<div class="container py-5">
				<div class="row">
					{% for service in site.services %}
						<div class="col-12 col-md-6 col-lg-4">
							<article class="text-center text-md-start mb-5 mx-3">
								<h4>
									{% if service.images %}
										<a href="{{ site.baseurl }}{{ service.url }}">
									{% endif %}
											{{ service.title }}
									{% if service.images %}
										</a>
									{% endif %}
								</h4>
								<p>{{ service.brief }}</p>
							</article>
						</div>
					{% endfor %}
				</div>
				<div class="text-center">
					{% assign service = site.data.navigation.navbar | where: 'id', 2 %}
					<a href="{{ site.baseurl }}{{ service[0].href }}" class="btn btn-primary">{{ page.sections.services.button }}</a>
				</div>
			</div>
		</main>
		{% include footer.html %}
		{% include script.html %}
	</body>
</html>
