<!DOCTYPE html>
<html lang="{{ page.lang }}">
	{% include head.html %}
	<body class="d-flex flex-column min-vh-100">
		<header class="bg-blue-500 text-white">
			<!-- Navbar -->
			{% assign navbar_dark = true %}
			{% include navbar.html %}

			<!-- Title section -->
			<div class="container py-3">
				<aside class="mb-3">
					{% assign services_link = site.data.navigation.navbar | where: 'id', 2 %}
					<a href="{{ site.baseurl }}{{ services_link[0].href }}#{{ page.title | slugify }}">
						<i class="bi bi-arrow-left-circle text-primary"></i>
						Usługi
					</a>
				</aside>
				<span class="text-center">
					<h1>
						<a href=".">{{ page.title }}</a>
					</h1>
					<p>{{ page.description_short }}</p>
				</span>
			</div>
		</header>
		<main class="flex-fill bg-blue-500 text-white">
			<div class="container">
				{{ content }}
				<!-- Gallery -->
				{% if page.gallery %}
					<hr>
					<section class="mb-5">
						<h3 id="projekty" class="text-center mt-5 mb-4">
							<a href="#projekty">Wykonane zlecenia</a>
						</h3>
						<div class="d-flex justify-content-center flex-wrap gap-2">
							{% for group in page.gallery %}
								<div class="bg-primary rounded p-2">
									<div class="gallery-item d-flex justify-content-center align-items-center position-relative">
										<h5 id="{{ group.id }}" class="mb-0">
											<a class="stretched-link" href="#{{ group.id }}">{{ group.title }}</a>
										</h5>
									</div>
								</div>
								{% for img in group.images %}
									<div class="bg-light rounded p-2">
										<a href="{{ site.baseurl }}/assets/img/1400/{{ img.name }}">
											<img class="gallery-item rounded" src="{{ site.baseurl }}/assets/img/300/{{ img.name }}" alt="{{ img.alt }}">
										</a>
									</div>
								{% endfor %}
							{% endfor %}
						</div>
					</section>
				{% endif %}
			</div>
		</main>
		{% include footer.html %}
		{% include script.html %}
	</body>
</html>
